body{
    padding: 0;
    background-color: rgb(82, 82, 82);
    color: white;
    margin: 0;
}

.downloads{
    padding-left: 30;
    padding-top: 20;
    padding-bottom: 50;
    background-color: rgb(141, 141, 129);;
}

.beanlink{
    background-color: rgb(30, 255, 0);
    color: white;
    padding: 15;
    font-size: 36px;
    text-decoration: none;
}