body{
    padding: 0;
    background-color: rgb(82, 82, 82);
    color: white;
    margin: 0;
}

.droptableheader{
    color: white;
    padding-left: 30;
}

.droptableitem{
    padding-left: 30;
}

.bossname{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 42px;
    background-color: rgb(80, 110, 101);
    padding-top: 20;
    padding-bottom: 20;
}