.header{
    background-color: rgb(108, 145, 199);
    padding-left: 30;
    padding-top: 50;
    padding-bottom: 50;
    border: 0;
    text-align: center;
}

.headertext{
    font-size: 48px;
    color:white;
}