body{
    padding: 0;
    background-color: rgb(82, 82, 82);
    color: white;
    margin: 0;
}

.link{
    padding-left: 30;
}

.content-text{
    color: white;
    font-size: 48px;
}

.linktext{
    color: white;
    font-size: 36px;
}